$textcolor: #f7f7f7;
$backgroundcolor: #006994;

body {
    background: $backgroundcolor;
  }
  
  .container-fluid {
    background: $backgroundcolor;
  }
  
  p {
    font-family: "Arial Black", Gadget, sans-serif;
  }
  
  .nav-item {
    color: #292b2c;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.25em;
  }
  
  .nav-item:hover {
    color: $textcolor;
    font-family: Impact, Charcoal, sans-serif;
  }
  
  .active {
    color: $textcolor;
  }
  
  .ratings {
      position: relative;
      vertical-align: middle;
      display: inline-block;
      color: #b1b1b1;
      overflow: hidden;
  }
  
  .full-stars {
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;
      overflow: hidden;
      color: #fde16d;
  }
  
  .empty-stars:before, .full-stars:before {
      content:"\2605\2605\2605\2605\2605";
      font-size: 1.15rem;
  }
  
  .empty-stars:before {
      -webkit-text-stroke: 1px #848484;
  }
  
  .full-stars:before {
      -webkit-text-stroke: 1px orange;
  }
  
  #preview{
    line-height:1.2em;
    height:3.6em;
    overflow:hidden;
  }
  
  .edit {
      text-align: right;
  }


  
  