{% extends "layout.html" %}

{% block title %}
    My Reviews
{% endblock %}

{% block main %}
    <div class="container-fluid p-4">
        {% for review in range(reviews| length) %}
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a href="{{ url_for('update', isbn=reviews[review][5], review_id= reviews[review][0]) }}" class="list-group-item list-group-item-action flex-column align-items-start ">
                      <div class="d-flex w-100 justify-content-between">
                        <h4 class="mb-1">{{reviews[review][3]}}, {{reviews[review][4]}}</h4>
                        <span class="ratings">
                          <span class="empty-stars"></span>
                          <span class="full-stars" style="width:{{reviews[review][8] * 20}}%"></span>
                        </span>
                      </div>
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{reviews[review][1]}}</h5>
                        <small class="text-muted">Last edit: {{list_time[review]}} ago</small>                       
                      </div>
                      
                      <p id="preview" class="mb-1">{{reviews[review][6]}}</p>
                      <small class="text-muted">Click to edit review</small>
                    </a>
                    
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}