{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container-fluid p-4 text-white">
    <h3>Welcome, {{ username[0] }}</h3>
    <hr>
    <div class="row">
        <div class="col-sm">
            <h4>Top 10 books sorted by average rating:</h4>
            <table class="table table-sm table-hover table-borderless text-white">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Avg. Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in top_books_rating %}
                    <tr tr style="transform: rotate(0);">
                        
                        <td><a style="color:aliceblue;" href="{{ url_for('books', isbn=book[2]) }}" class="stretched-link">{{book[0]}}</a></td>
                        <td>{{book[3]}}</td>
                        <td>{{'%0.2f'| format(book[1])}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h4>Top 10 books by number of reviews:</h4>
            <table class="table table-sm table-hover table-borderless text-white">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>N. Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in top_books_reviews %}
                    <tr tr style="transform: rotate(0);">
                        
                        <td><a style="color:aliceblue;" href="{{ url_for('books', isbn=book[2]) }}" class="stretched-link">{{book[0]}}</a></td>
                        <td>{{book[3]}}</td>
                        <td>{{book[1]}}</td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}