{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container-fluid p-4">

    <form id="myForm" action="/register" method="post" class="needs-validation">
      
        <div class="form-group">
            <input id="checkuser" autocomplete="off" autofocus class="form-control" name="username" placeholder="username" type="text" onkeyup="check_username();" value required>
            <small id="username_status"></small>
        </div>
        <div class="form-group">
            <input id="checkmail" autocomplete="off" autofocus class="form-control" name="email" placeholder="email" type="email" onkeyup="check_email();">
            <small id="email_status"></small>
        </div>
        <div class="form-group">
            <input id="field_pwd1" class="form-control" title="Password must contain at least 8 characters, including UPPER/lowercase and numbers." type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password">
            <!-- <input class="form-control" name="password" id="password" placeholder="Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required> -->
            <!--<small style="color:rgb(189, 189, 189);" id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain  at least 1 capital letter and 1 number, and must not contain spaces, special characters, or emoji.
            </small>-->
          </div>
        <div class="form-group">
          <input id="field_pwd2" class="form-control" title="Please enter the same Password as above." type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="confirmation"></p>
            <!--<input class="form-control" name="confirmation" placeholder="Retype password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">-->
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>


    <script>
        function check_username() {
            var username = document.getElementById("checkuser").value;
            var label = document.getElementById("username_status");

            $.get("/checkuser?username=" + username, function (data) {
                if (data == true) {
                    label.innerHTML = "Username available";
                } else {
                    label.innerHTML = "Username taken";
                    event.preventDefault();
                }
            if (!username) {
                label.innerHTML = "";
                }
            })
        }


        function check_email() {
            var email = document.getElementById("checkmail").value;
            var label = document.getElementById("email_status");
            $.get("/checkmail?email=" + email, function (data) {
                if (data == true) {
                    label.innerHTML = "Email available";
                } else {
                    label.innerHTML = "Email taken";
                    event.preventDefault();
                }
            if (!email) {
                label.innerHTML = "";
                }
            })
        }

      document.addEventListener("DOMContentLoaded", function() {

      // JavaScript form validation

      RegExp.escape= function(s) {
        return s.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
      };

      var checkPassword = function(str)
      {
        var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
        return re.test(str);
      };

      var checkForm = function(e)
      {
        if(this.password.value != "" && this.password.value == this.confirmation.value) {
          if(!checkPassword(this.password.value)) {
            alert("The password you have entered is not valid!");
            this.password.focus();
            e.preventDefault();
            return;
          }
        } else {
          alert("Error: Please check that you've entered and confirmed your password!");
          this.password.focus();
          e.preventDefault();
          return;
        }
      };

      var myForm = document.getElementById("myForm");
      myForm.addEventListener("submit", checkForm, true);

      // HTML5 form validation

      var supports_input_validity = function()
      {
        var i = document.createElement("input");
        return "setCustomValidity" in i;
      }

      if(supports_input_validity()) {

        var pwd1Input = document.getElementById("field_pwd1");
        pwd1Input.setCustomValidity(pwd1Input.title);

        var pwd2Input = document.getElementById("field_pwd2");

        // input key handlers

        pwd1Input.addEventListener("keyup", function(e) {
          this.setCustomValidity(this.validity.patternMismatch ? pwd1Input.title : "");
          if(this.checkValidity()) {
            pwd2Input.pattern = RegExp.escape(this.value);
            pwd2Input.setCustomValidity(pwd2Input.title);
          } else {
            pwd2Input.pattern = this.pattern;
            pwd2Input.setCustomValidity("");
          }
        }, false);

        pwd2Input.addEventListener("keyup", function(e) {
          this.setCustomValidity(this.validity.patternMismatch ? pwd2Input.title : "");
        }, false);

      }

      }, false);
    </script>
{% endblock %}
