{% extends "layout.html" %}

{% block title %}
    Edit {{review[2]}}
{% endblock %}

{% block main %}

    <form method="post">
    <label for="title">Title</label>
    <input name="review_title" id="title"
      value="{{ request.form['review_title'] or review[2] }}" required>
    <label for="body">Body</label>
    <textarea name="review" id="body">{{ request.form['review'] or review[1] }}</textarea>
    <fieldset class="rating">
    <legend>Please rate:</legend>
    <input type="radio" id="star5" name="rating" value="5" {{checked[5]}}/>
        <label for="star5" title="Rocks!">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" {{checked[4]}}/>
        <label for="star4" title="Pretty good">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" {{checked[3]}}/>
        <label for="star3" title="Meh">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" {{checked[2]}}/>
        <label for="star2" title="Kinda bad">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" {{checked[1]}}/>
        <label for="star1" title="Sucks big time">1 star</label>
    </fieldset>
        <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('delete', isbn=isbn, review_id = review_id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>

{% endblock %}